<% form_for @store, :html => { :id => 'add_record', :class => 'auxilliary ajaxed' } do | f | %>
<ol>
  <li><%= f.label :name %><%= f.text_field :name %></li>
  <li><%= f.label :address_1 %><%= f.text_field :address_1 %></li>
  <li><%= f.label :address_2 %><%= f.text_field :address_2 %></li>
  <li><%= f.label :city %><%= f.text_field :city %></li>
  <li><%= f.label :state %><%= f.select :state, state_postal_codes %></li>
  <li><%= f.label :postal_code %><%= f.text_field :postal_code %></li>
  <li><%= f.label :email %><%= f.text_field :email %></li>
  <li><%= f.label :phone %><%= f.text_field :phone %></li>
  <li><%= f.label :fax %><%= f.text_field :fax %></li>
  <li><%= f.submit %></li>
</ol>
<% end %>
