<% content_for :title do %>
Stores
<% end %>
<% content_for :breadcrumbs do %>
<ul>
  <li class="last"><span>Stores</span></li>
</ul>
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "stores" %>
<% end %>
<div class="panel">
  <div class="bar">
    <div class="beta">
      <%= link_to 'Add Store', new_store_path, :class => 'button insert' %>
    </div>
    <% form_tag '/stores/search', :id => 'search_form', :class => 'gamma ajaxed' do %>
      <% field_set_tag do %>
        <%= text_field_tag 'search', @search_term, :id => 'search', :class => 'dynamic_label' -%>
        <%= submit_tag 'Filter', :class => 'button', :name => 'search_button', :id => 'search_button' -%>
      <% end %>
    <% end %>
  </div>
  <div id="stores_list">
    <%= render :partial => "stores_list" %>
  </div>
</div>
