<!-- COORDINATORS LIST -->
<div class="content">
  <% if Coordinator.count > 0 %>
    <table summary="List of Coordinators" class="grid center">
      <col style="width:60px" />
      <col style="width:60px" />
      <col/>
      <col/>
      <col/>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @coordinators.each do | coordinator | %>
        <tr id="coordinator_<%= coordinator.id -%>">
          <td><%= link_to('Edit', edit_coordinator_path(coordinator), :class => 'button_small insert') -%></td>
          <td><%= link_to('Delete', coordinator_path(coordinator), :class => 'button_small insert') -%></td>
          <td><%= format_name(coordinator) -%> </td>
          <td><%= coordinator.phone -%></td>
          <td><%= coordinator.email -%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div style="padding:0 10px 10px 10px">
      <div class="message notice">
        <ul>
          <li>Click "Add Coordinator" above to start adding new coordinators.</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>