<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Reservation</th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do | venue | %>
    <tr id="venue_<%= venue.id -%>">
      <td><%= link_to('Edit', edit_venue_path(venue), :class => 'button_small insert') -%></td>
      <td><%= venue.name -%></td>
      <td><%= format_address(venue) -%></td>
      <td><%= venue.phone -%></td>
      <td><%= venue.fax -%></td>
      <td><%= venue.reservation -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
