<% content_for :title do %>
Shows
<% end %>
<% content_for :breadcrumbs do %>
<ul>
  <li class="last"><span>Shows</span></li>
</ul>
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "shows" %>
<% end %>
<!-- SHOWS -->
<div class="panel">
  <div class="bar">
    <div class="beta">
      <%= link_to 'Add Show', new_show_path, :class => 'button insert' %>
    </div>
    <% form_tag search_shows_path, :id => 'search_form', :class => 'gamma ajaxed' do %>
      <% field_set_tag do %>
        <%= text_field_tag 'search', @search_term, :id => 'search', :class => 'dynamic_label' -%>
        <%= submit_tag 'Filter', :class => 'button', :name => 'search_button', :id => 'search_button' -%>
      <% end %>
    <% end %>
  </div>
  <div id="shows_list">
    <%= render :partial => "shows_list" %>
  </div>
</div>
