<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "custom-theme/jquery-ui-1.7.custom" %>
  <%= javascript_include_tag "jquery/jquery" %>
  <%= javascript_include_tag "jquery/jquery.livequery" %>
  <%= javascript_include_tag "application" %>
</head>
