<html>
  <%= render :partial => "/layouts/head"%>
  <body>
    <%= yield :top_selection_bar %>
    <div>Current show: <%= @current_show.description -%></div>
    <%= render_stickies({:id => "module_messages"}) %>
    <div id="record_manager"></div>
    <%= yield %>

    <!-- LOAD SCRIPTS -->
    <%= yield :bottom_load_js %>
  </body>
</html>
